@model company.BL.Model.EmployeeVM
@inject company.BL.Interface.IGenderRep gender
@inject company.BL.Interface.IReligionRep religion
@inject company.BL.Interface.IDepartmentRep department

@{
    ViewBag.Title = "Delete Employee";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Delete Employee</h2>
            </div>
            <div class="body">
                <form id="form_validation" asp-asp-controller="Department" asp-action="Delete" method="post">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="employeeName" readonly="readonly" />
                                    <label class="form-label">Employee Name </label>

                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="phone1" readonly="readonly" />
                                    <label class="form-label">phone1 </label>

                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="phone2" readonly="readonly" />
                                    <label class="form-label">phone2 </label>
                                    <span asp-validation-for="phone2" class="text-danger "></span>

                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="address" readonly="readonly" />
                                    <label class="form-label"> address </label>

                                </div>
                            </div>

                            <div class="form-group form-float">
                                <select asp-for="deprtmentId" class="form-control show-tick" disabled>
                                    <option value="">-- Please select department  --</option>
                                    @{
                                        foreach (var item in department.GetAll())
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="form-group">
                                <label class="form-label"> religion </label>

                                <div class="form-line">
                                    @{
                                        foreach (var item in religion.GetAll())
                                        {
                                            <input type="radio" value="@item.id" asp-for="religionId" id="religionId+@item.id" class="with-gap" disabled>
                                            <label for="religionId+@item.id">@item.religionName</label>
                                        }
                                    }

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="nationalId" readonly="readonly" />
                                    <label class="form-label"> nationalId </label>

                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" asp-for="birthdate" disabled />
                                    <label class="form-label"> birthdate </label>

                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="startDate" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" disabled />
                                    <label class="form-label"> startDate </label>

                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="endDate" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" disabled />
                                    <label class="form-label"> endDate </label>

                                </div>
                            </div>
                            <div class="form-group" form-float">
                                <div class="form-line">

                                    <input checked="checked"
                                           id="isAvtive"
                                           name="isAvtive"
                                           type="checkbox"
                                           value="true" disabled />
                                    <label for="isAvtive">Employee is  active ?</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label "> gender </label>
                                <div class="form-line ">
                                    @{
                                        foreach (var item in gender.GetAll())
                                        {
                                            <input type="radio" value="@item.id" asp-for="genderId" id="genderId+@item.id" class="with-gap" disabled>
                                            <label for="genderId+@item.id">@item.genderName</label>
                                        }
                                    }

                                </div>
                            </div>


                        </div>
                    </div>






                    <button class="btn btn-primary waves-effect" type="submit">delete</button>
                    <a asp-controller="Employees" asp-action="index" class="btn btn-success">Back</a>





                </form>
            </div>
        </div>
    </div>
</div>


